body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #e8f0fe;
  position: relative;
  overflow: hidden;
}

.side-design {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
}

.circle {
  position: absolute;
  top: 0;
  left: 10%;
  width: 30%;
}

.search-bottom {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 20%;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.column-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-column, .right-column {
  width: 100%;
  padding: 20px;
}

.left-column {
  text-align: left;
  z-index: 1;
}

.heading {
  color: #00263e;
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1rem;
  color: #00263e;
}

.search-submit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-submit-btn svg {
  fill: #0384FB;
}

.search-submit-btn:hover {
  transform: scale(1.1);
}

.video-container {
  position: relative;
  width: 100%;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.watch-video-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
}

.watch-video-button svg {
  fill: white;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .column-wrapper {
    width: 100%;
  }

  .left-column, .right-column {
    width: 100%;
    padding: 10px;
  }

  .right-column {
    margin-top: 20px;
  }

  .video-container {
    width: 100%;
  }
}
